{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'apps/assets/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'apps/css/style.css' %}" />
        <title>LITReview</title>
    </head>
    <body>
        <header>
            {% include 'apps/header.html' %}
        </header>
        <div class="d-flex justify-content-center align-items-center">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% include 'apps/footer.html' %}
        </footer>
    </body>
</html>