{% extends 'apps/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div>
        <h2>Flux</h2>
        <button type="submit" href="{% url 'apps:create_ticket' %}">Demander une critique</button>
        <button type="submit" href="{% url 'apps:create_review' %}">Créer une critique</button>
        {% for post in posts %}
            {% if 'Ticket' in post.class_name %}
                {% include 'apps/ticket_item.html' with post=post %}
            {% elif 'Review' in post.class_name %}
                {% include 'apps/review_item.html' with post=post %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}