{% load static %}

<div class="logo">
    <a href="{% url 'apps:index' %}"><img src="{% static 'apps/assets/logo.png' %}" alt="..." /></a>
</div>
<div class="band">
    <h1>LITReview</h1>
    {% if user.is_authenticated %}
        <nav>
            <div><a href="{% url 'apps:flux' %}">Flux</a></div>
            <div><a href="{% url 'apps:posts' %}">Posts</a></div>
            <div><a href="{% url 'apps:subscription' %}">Abonnements</a></div>
            <div><a href="{% url 'apps:logout' %}">Se déconnecter</a></div>
            <div>{{ user.username }}</div>
        </nav>
    {% endif %}
</div>