{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="title">Inscrivez-vous maintenant</div>
            <a href="{% url 'apps:signup' %}"><button class="myBtn">S'inscrire</button></a>
        </div>
        <div class="col-6">
            <div class="title">Connectez-vous</div>
            <form class="form form-label" action="{% url 'apps:login' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form AForm show_label=False %}
                <button class="myBtn" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}