{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div>
        <div class="title">{{ title }}</div>
        {% if title == 'Créer une critique' %}
            <form class="form form-label" action="{% url 'apps:create_review' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form TForm %}
                {% bootstrap_form RForm %}
                <button class="btn" type="submit">Envoyer</button>
            </form>
        {% elif title == 'Modifier une critique' %}
            <form class="form form-label" action="{% url 'apps:update_review' review.id %}" method="POST">
                {% csrf_token %}
                {% include 'apps/ticket_item.html' with post=ticket %}
                {% bootstrap_form RForm %}
                <button class="btn" type="submit">Envoyer</button>
            </form>
        {% endif %}
    </div>
{% endblock %}