{% load bootstrap5 %}

<div class="card mb-3">
    <div class="card-header">
        <strong>{{ post.user.username }}</strong> a publié une critique <span class="text-end blockquote-footer">{{ post.time_created }}</span>
    </div>
    <div class="card-body">
        <div class="card-title title">{{ post.title }}</div>
        <div class="card-text">
            <div>{{ post.headline }}</div>
            <div>{{ post.rating }}</div>
            <div>{{ post.body }}</div>
        </div>
        {% if post.user == user %}
            <div>
                <form class="form" action="{% url 'apps:update_review' post.id %}" method="GET">
                    {% csrf_token %}
                    <input type="hidden" name="review_id" value="{{ post.id }}">
                    <input type="hidden" name="ticket_id" value="{{ post.ticket.id }}">
                    <button class="btn">Modifier la critique</button>
                </form>
                <form class="form" action="{% url 'apps:delete_review' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="review_id" value="{{ post.id }}">
                    <input type="hidden" name="ticket_id" value="{{ post.ticket.id }}">
                    <button class="btn">Supprimer la critique</button>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="card-footer">
        {% if only != 'only' %}
            {% include 'apps/ticket_item.html' with post=post.ticket %}
        {% endif %}
    </div>
</div>