{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% block content %}
        <div>
            <div class="title">Inscrivez-vous</div>
            <form class="form form-label" action="{% url 'apps:signup' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form UForm show_label=False %}
                <button  class="myBtn" type="submit">S'inscrire</button>
            </form>
            <a href="{% url 'apps:index' %}"><button class="myBtn">Retourner</button></a>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
{% endblock %}