{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% block content %}
        <div>
            <h2>Inscrivez-vous<h2>
            <form class="form" action="{% url 'apps:signup' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form UForm %}
                <button  class="btn btn-primary" type="submit">S'inscrire</button>
            </form>
            <button class="btn btn-primary" type="submit"><a href="{% url 'apps:index' %}">Retourner</a></button>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% else %}
                pas d'erreur
            {% endif %}
        </div>
{% endblock %}