{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div class="cont justify-content-center">
        <table class="table table-md">
        <th colspan="3">Suivre d'autres utilisateurs</th>
            <tr>
                <form class="form" action="{% url 'apps:subscription' %}" method="POST">
                    {% csrf_token %}
                    <td class="col-5">{% bootstrap_form UForm show_label=False %}</td>
                    <td class="col-5"><button type="submit" name="Envoyer">Envoyer</button></td>
                    <td class="col-2">{% include 'apps/messages.html' %}</td>
                </form>
            </tr>
        </table>
        <table class="table table-hover table-sm">
            <th colspan="2">Abonnements</th>
            <tbody>
            {% if following_users %}
                {% for following_user in following_users %}
                    <tr>
                    <form  class="form form-label" action="{% url 'apps:unsubscription' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="followed_user_id" value="{{ following_user.followed_user.id }}">
                        <td class="col-5">{{ following_user.followed_user }}</td>
                        <td class="col-7"><button type="submit" name="Desabonner">Désabonner</button></td>
                    </form>
                    </tr>
                {% endfor %}
            {% else %}
            <td>Vous ne suivez personne</td>
            {% endif %}
            </tbody>
        </table>
        <table class="table table-hover table-sm">
            <th>Abonnés</th>
            <tbody>
            {% if followed_users %}
                {% for followed_user in followed_users %}
                <tr>
                    <td>{{ followed_user.user }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <td>Vous n êtes suivi par personne</td>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}