{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div class="container-md align-self-center">
        <div class="row title ">Suivre d'autres utilisateurs</div>
        <form class="row row-cols-2 form-label" action="{% url 'apps:subscription' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form UForm %}
            <button class="btn" type="submit" name="Envoyer">Envoyer</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <div class="row title">Abonnements</div>
        {% if following_users %}
            {% for following_user in following_users %}
                <form  class="row row-cols-2 form-label" action="{% url 'apps:unsubscription' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="followed_user_id" value="{{ following_user.followed_user.id }}">
                    <div>{{ following_user.followed_user }}</div>
                    <button class="btn" type="submit" name="Desabonner">Désabonner</button>
                </form>
            {% endfor %}
        {% else %}
            <div>Vous ne suivez personne</div>
        {% endif %}
        <div class="row title">Abonnés</div>
        {% if followed_users %}
            {% for followed_user in followed_users %}
                <div>{{ followed_user.user }}</div>
            {% endfor %}
            {% else %}
                <div>Vous n êtes suivi par personne</div>
            {% endif %}
    </div>
{% endblock %}