{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div>
        <h2>{{ title }}</h2>
        {% if title == 'Créer un ticket' %}
            <form class="form" action="{% url 'apps:create_ticket' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form TForm %}
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        {% elif title == 'Modifier un ticket' %}
        <form class="form" action="{% url 'apps:update_ticket' ticket.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form TForm %}
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </form>
        {% endif %}
    </div>
{% endblock %}