{% load bootstrap5 %}


<div class="card mb-3">
    <div class="card-header">
        <strong>{{ post.user.username }}</strong> a demandé une critique <span class="text-end blockquote-footer">{{ post.time_created }}</span>
    </div>
    <div class="card-body">
        <div class="card-title">{{ post.title }}</div>
        <div class="card-text">
            <p>{{ post.description}}</p>
            {% if post.image %}
                <img src="/media/{{ post.image }}" alt="...">
            {% endif %}
        </div>
        {% if post.user == user %}
            <div>
                <form class="form" action="{% url 'apps:update_ticket' post.id %}" method="GET">
                    {% csrf_token %}
                    <input type="hidden" name="ticket_id" value="{{ post.id }}">
                    <button class="btn">Modifier le ticket</button>
                </form>
                <form class="form" action="{% url 'apps:delete_ticket' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="ticket_id" value="{{ post.id }}">
                    <button class="btn">Supprimer le ticket</button>
                </form>
            </div>
        {% endif %}
        {% if title != 'Modifier une critique' %}
            <ul class="list-group">
            {% for review in post.get_reviews %}
                <a data-bs-toggle="modal" data-bs-target="#Modal{{ review.id }}">
                    {{ review.user.username }} a publié une critique le {{ review.time_created }}
                </a>
                {% include 'apps/post_modal.html' with post=review %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if title != 'Modifier une critique' %}
        <div class="card-footer">
            {% include 'apps/post-accordion.html' with post=post %}
        </div>
    {% endif %}
</div>        